### Component non-repo files
/component/backend/panopticon.xml
/component/backend/version.php
/plugins/system/panopticon/version.php
/pkg_panopticon.xml

### Composer
/component/backend/vendor

### Node.js
/node_modules

### Build & Release files
/build/override.properties
/release

### Private files
/assets/phpstorm_http/http-client.private.env.json