<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ @package   panopticon
  ~ @copyright Copyright (c)2023-2025 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   https://www.gnu.org/licenses/agpl-3.0.txt GNU Affero General Public License, version 3 or later
  -->

<config>
    <fieldset name="prefs" label="COM_PANOPTICON_CONFIG_PREFS_LABEL">
        <field name="sysinfo"
               type="radio"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_PANOPTICON_CONFIG_SYSINFO_LABEL"
               description="COM_PANOPTICON_CONFIG_SYSINFO_DESC"
               class="btn-group btn-group-yesno">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_panopticon"
                section="component"/>
    </fieldset>
</config>